argParseFromDoc >=0.1.2
e3nn >=0.5.1
healpy >=1.16.5
joblib >=1.3
mrcfile >=1.4.3, <2.0.0
numpy >=1.25.2
omegaconf >=2.3.0
pandas >= 2.1.0
pdoc3 >= 0.10.0
psutil >= 5.9.5
lightning[pytorch-extra] >=2.0.0, <3.0.0
requests >=2.31.0
scipy >=1.11.2
starfile >=0.4.12
starstack  >=0.2.0
tensorboard >=2.12.1
torch >=2.0.0, <3.0.0
torchvision >=0.15.2
